.events {
  width: 100%;
  height: auto;
  display: block;
  float: left;
  padding: 30px 0;
  margin-top: -150px;

  &__list {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 0 5px;
    margin-bottom: 10px;
    position: relative;
    z-index: 0;
    float: left;
    @include transition(all, 0.3s , linear);

    @media (max-width: 768px) {
      width: 100%;
      height: auto;

      .rating {
        margin-top: 0px;
        margin: 10px 0;
      }

    }

    article {
      background: #fff;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
      height: 220px;
      position: relative;

      @media (max-width: 768px) {
        height: auto;
        float: left;
      }

    }

  }

  &__avatar {
    width: 220px;
    height: 220px;
    display: block;
    float: left;
    position: relative;
    background: gray;

    @media (max-width: 768px) {
        width: 100%;
      }

    img {
      width: auto;
      height: 220px;

      @media (max-width: 768px) {
        width: 100%;
      }

    }


    .destination {
      width: 100%;
      background: rgba(0,0,0,0.8);
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      padding: 10px;



    }

  }

  .navigation {
    position: absolute;
    bottom: 5px;
    width: 96%;

    @media (max-width: 768px) {
      position: relative;
      float: left;
      width: 100%;
      bottom: 0;

      .col-md-5, .col-md-4 {
        width: 100% !important;
        padding: 0 !important;
      }

    }



  }

  &__info {
    width: calc( 100% - 220px);
    height: 220px;
    overflow: hidden;
    display: block;
    float: left;
    padding: 10px;
    position: relative;

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }

    h3 {
      font-size: 20px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 10px;

      @media (max-width: 768px) {
        margin-bottom: 0;
      }

    }

    h6 {
      font-size: 12px;
      color: gray;
    }

  }


  //Events Detailed Information

  &__more {
    display: block;
    float: left;
    width: 100%;
    height: auto;

    .map-place {
      width: 100%;
      height: 50vh;
      min-height: 450px;
      background: gray;
      display: block;
      float: left;
      border-bottom: 4px solid $primary-color;


      @media (max-width: 768px) {
        min-height: auto;
        height: 40vh;
      }

    }

    .info-place {
      display: block;
      float: left;
      width: 100%;
      margin-top: -50px;
      position: relative;
      z-index: 1;
      margin-bottom: 50px;

        .main-info {
          width: 100%;
          height: auto;
          display: block;
          float: left;
          
          @media (max-width:768px) {
            text-align: center;
          }

          .picture-place {
            padding: 5px;
            background: #fff;
            border: 1px solid #b9b9b9;
            float: left;
            border-radius: 5px;

            @media (max-width: 768px) {
                float: none;
                display: inline-block;
            }

            img {
              border-radius: 1px;
              width: 200px;
              height: 200px;
              display: block;
            }

          }

          .detailed-info {
            width: calc( 100% - 220px);
            height: auto;
            display: block;
            float: left;
            margin-top: 50px;
            padding-left: 20px;

            @media (max-width: 768px) {
              width: 100%;
              margin-top: 0px;
              padding-left: 0;
              text-align: center;
              
              .rating {
                width: auto;
                display: inline-block;
                float: none;
              }

            }

            .name {
              width: 100%;
              height: auto;
              display: block;
              float: left;
              font-size: 24px;
              font-weight: bold;
              color: $secondary-color;
              margin-top: 20px;
            }

          }

        }

    }

  }

}

